.book-block {
    height: 70vh;
    margin: 30px auto;
    /* border: 1px solid red; */
}

.book-block_title {
    margin: 2rem 0;
    text-align: center;
}

.book-block_author {
    margin: 25px 0;
}

.book-block_rating {
    margin: auto;
    justify-content: space-evenly;
    font-size: 1.2rem;
    /* border: 1px solid blue; */
}

.book-block_about-author {
    /* margin: 15px auto; */
    margin: 20rem auto 0;
    padding: 15px;
    height: 25%;
    max-width: 600px;
    justify-content: center;
    border: 1px solid blue;
    overflow: hidden;
    box-sizing: border-box;
    text-align: start;
    font-size: 1.2rem;
    
}

.book-block_return-button {
    display: flex;
    width: 80%;
    /* border: 1px solid green; */
    margin: auto;
    
}

.error-block {
    display: block;
    height: 70vh;
    margin: auto;
    /* border: 1px solid red */
}

.error-text {
    width: 100%;
    text-align: center;
    padding: 5rem 0;
    font-size: 2rem;
    /* border: 1px solid black; */
}

.error-image {
    max-width: 250px;
    /* margin: auto; */
    /* border: 1px solid brown; */
}