.login-container {
    /* border: 1px solid red; */
    justify-content: center;
    margin-top: 20vh;
}

.login-form {
    margin: auto;
    width: 30%;
}

.login-button {
    width: 9rem;
    margin-top: 20px;
}


@media screen and (max-width: 1000px ) {
    .login-form {
        width: 70%;
    }
}