.App {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: transparent;
}

h2,
h3 {
    text-align: center;
    padding: 15px;
}

.card-body {
    min-width: 16rem;
    max-width: 16rem;
    height: 11rem;
    margin: 5px;
}

.card-desc {
    text-align: left;

}

.card-block {
    justify-content: center;
}

.card-title {
    margin: auto;
    width: 14rem;
    height: 37px;
}

.card-text {
    width: 14rem;
}

.pagination-block {
    justify-content: center;
    display: flex;
    width: 10000px;
    height: 90px;
}

.pagination-element {
    width: 95px;
}

.pagination {
    position: fixed;
    bottom: 10px;
    margin-left: 15px;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);

}

.book-section_title {
    width: 80%;
    padding: 20px 0 0 0;
    margin: auto;
}

.book-section_description {
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
}

@media only screen and (max-width: 1280px) and (min-width: 1200px) {
    .pagination {
        bottom: 0;
    }
}

@media only screen and (max-width: 1199px) {
    .pagination-block {
        background-color: rgba(184, 182, 182, 0.5);
    }


    .container-body {
        padding-bottom: 8rem;
    }


}

@media (min-width: 531px) {}